.emp_basic_dtl{
   width: 90% ;
   margin: auto ;
}

.no-refferal{
   text-align: center;
   padding: 100px 0 20px 0;
}

.btn-add-ref{
   width: 140px;
   margin: auto;

}

.no-experience{
   text-align: center;
   margin: auto 0px auto 28rem;
}